/**Not 650 as you would expect since 8 x 8 grid and each tile has 70 px but 608 since borders*/
.score{
    position:fixed;
    right:20%;
    height: 10%;
    font-size:40px

}
.MagicGrid {
    margin: auto;
    padding: 10px;
    height: 912px;
    width: 912px;
    display: flex;
    flex-wrap: wrap;
}
.MagicGrid div{
    height: 105px;
    width: 105px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    border: 3px solid black;


}
#progress {
    margin:auto;
    width: 60%;
    background-color: #ddd;
}

#statusBar {
    width: 100%;
    height: 30px;
    background-color: #4CAF50;
}
